@charset "UTF-8";
/*!-Body de todas las páginas html-!*/
body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: repeat-x repeat-y;
  text-align: center; }

/*--$Mixin de animación$--*/
/*!----Navegación barra principal----!*/
.headermenu {
  grid-area: header;
  width: auto; }
  .headermenu #logorevue {
    width: 200px;
    margin: 25px auto;
    animation-duration: 1s;
    animation-name: imagenes;
    animation-iteration-count: initial; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .headermenu nav #opciones li a {
    text-decoration: none;
    color: #e5072f;
    font-size: larger;
    font-weight: bolder;
    animation-duration: 1s;
    animation-name: imagenes;
    animation-iteration-count: initial; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .headermenu nav #opciones li a:hover {
      text-decoration: underline;
      color: #525151; }
  .headermenu nav #opciones .navbar-nav {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Merriweather', serif;
    width: 90%;
    background: #f38a8a;
    background: linear-gradient(0deg, #d4e1fd 0%, #ffffff 50%, #fcc1c1 100%);
    text-align: center;
    border-top: #e507307c 1.5px solid;
    border-bottom: #e507308f 1.8px inset;
    animation-duration: 1s;
    animation-name: imagenes;
    animation-iteration-count: initial; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .headermenu nav #opciones .navbar-nav li {
      padding: 5px; }

/*--$Mixin de animación$--*/
/*!------Main página de index------!*/
.mainindex {
  grid-area: main; }
  .mainindex .infocentral {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainindex .infocentral .slide {
      margin: auto;
      width: 90%;
      overflow: hidden; }
      .mainindex .infocentral .slide ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambiar 40s infinite alternate ease-in-out; }
        .mainindex .infocentral .slide ul li {
          list-style: none;
          width: 100%;
          padding: 0; }
          .mainindex .infocentral .slide ul li #revueimg {
            border: none 5px;
            border-style: inset;
            width: 90%;
            height: 90%;
            margin: auto;
            animation-duration: 1.3s;
            animation-name: imagenes;
            animation-iteration-count: initial; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes cambiar {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }
    .mainindex .infocentral article {
      width: 90%;
      margin: auto;
      margin-top: -5%;
      background-color: white; }
  .mainindex #videotrailer {
    grid-area: iframe;
    text-align: center;
    width: 450px;
    height: 250px;
    margin: 20px; }

/*!-----Main página de historia-----!*/
.mainhistoria {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .mainhistoria .imagenhistoria {
    width: 30%;
    margin: auto;
    border: #d3d0d0 0.5px dashed;
    animation-duration: 1s;
    animation-name: imagenes;
    animation-iteration-count: initial; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .mainhistoria .historiarevue {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 35%;
    background-color: white; }

/*!-----Main pagina de personajes-----!*/
.iniciocv {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 75%;
  padding: 5px;
  animation-duration: 0.5s;
  animation-name: imagenes;
  animation-iteration-count: initial; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .iniciocv .cv-revue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly; }
    .iniciocv .cv-revue div {
      width: 35%; }
      .iniciocv .cv-revue div .imgder-cv {
        width: 50%;
        margin: 10px;
        border: solid 1px #0000009c; }
      .iniciocv .cv-revue div h1 {
        background-color: #ffffff00;
        font-size: xx-large; }
      .iniciocv .cv-revue div p {
        font-size: 0.9rem; }

/*!-----Main página de anime-----!*/
.infoemision {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .infoemision .textoemision {
    width: 30%;
    background-color: white;
    margin: 2px;
    padding: 2px;
    letter-spacing: 0.5px; }
  .infoemision .imgemision {
    margin: 2px;
    padding: 2px; }

/*!-----Main pagina de juego-----!*/
.juegohistoria {
  grid-area: main;
  width: 70%;
  padding: 15px;
  margin: 10px auto;
  justify-content: center;
  background-color: white;
  letter-spacing: 0.3px; }

/*!----Main pagina de contacto-----!*/
.formulariocont {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .formulariocont .form-contenido {
    border-style: groove;
    padding: 25px;
    background-color: white; }
    .formulariocont .form-contenido .formcont {
      background-color: #c5c5c298;
      padding: 5px;
      border-style: groove; }
    .formulariocont .form-contenido .form-group {
      font-size: 0.9em;
      margin: 20px;
      display: flex;
      flex-direction: column;
      font-family: 'Merriweather', serif; }

/*--$Mixin de animación$--*/
/*!----Div de la pagina de personajes----!*/
.cont-personajes {
  grid-area: div;
  margin: auto;
  width: 75%;
  justify-content: center; }
  .cont-personajes .navbar-nav-cv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation-duration: 1s;
    animation-name: imagenes;
    animation-iteration-count: initial;
    background-color: #d4e1fdef;
    border: #88a6d3 1px dashed;
    list-style: none;
    align-content: center;
    padding: 10px;
    margin-top: -25px; }

@keyframes imagenes {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .cont-personajes .navbar-nav-cv li a {
      text-decoration: none;
      color: #6866ec;
      font-size: smaller;
      font-weight: 600; }
      .cont-personajes .navbar-nav-cv li a:hover {
        background: -webkit-linear-gradient(90deg, #FB5458 40%, #ffffff 5%, #FB5458 50%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }

/*--$Mixin de animación$--*/
/*!-Seccion capítulos emitidos pagina anime-!*/
#emitidos {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 60%;
  margin: 5px auto;
  padding: 10px; }
  #emitidos h2 {
    font-size: x-large;
    margin: 5px auto; }
  #emitidos #tablacap {
    width: auto;
    margin-bottom: 50px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center; }

/*!-Seccion de descarga pagina juegos-!*/
.secdescarga {
  grid-area: section;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 2px;
  padding: 2px; }
  .secdescarga .juego1 {
    padding: 2px; }
    .secdescarga .juego1 h1 {
      font-size: xx-large; }
    .secdescarga .juego1 iframe {
      padding: 3px; }
  .secdescarga .juego2 {
    padding: 2px;
    justify-content: center;
    align-content: center; }
    .secdescarga .juego2 h1 {
      font-size: xx-large; }
    .secdescarga .juego2 a {
      padding: 3px;
      margin: 3px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center; }

/*@------Estilo navegación página index------@*/
#contenedorindex {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header" "main main" "iframe iframe" "footer footer"; }

/*------@Diseño página para la historia@------*/
#contenedorhistoria {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2fr auto;
  grid-template-areas: "header header" "main main" "footer footer"; }

/*-----@Diseño página de personajes@------*/
#contenedorpersonajes {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: auto auto;
  grid-template-rows: auto 2px auto auto;
  grid-template-areas: "header header" "div div" "main main" "footer footer"; }

/*-----@Diseño página de anime@------*/
#contenedoranime {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header" "main main" "section section" "footer footer"; }

/*-----@Diseño página sobre el juego@------*/
#contenedorjuego {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 0.5fr 1fr auto;
  grid-template-areas: "header header" "main main" "section section" "footer footer"; }

/*-----@Diseño pagina de contacto@------*/
#contenedorcontacto {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "main aside" "footer footer"; }

/*!-----Aside de la pagina de contacto-----!*/
.textocont {
  grid-area: aside;
  width: 45%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; }
  .textocont .imgkaren {
    width: 170px;
    height: 170px;
    margin: 20px; }

/*--$Mixin de animación$--*/
/*---Colores de fondo para los personajes; páginas personajes---*/
#background-revue-k {
  background: #FB5458;
  background: linear-gradient(47deg, #FB5458 50%, #ffffffd8 75%);
  border-radius: 10px; }

#background-revue-h {
  background: #6292E9;
  background: linear-gradient(47deg, #6292E9 50%, #ffffffd8 75%);
  border-radius: 10px; }

#background-revue-n {
  background: #FDD162;
  background: linear-gradient(47deg, #ffffffd8 35%, #FDD162 65%);
  border-radius: 10px; }

#background-revue-j {
  background: #95CAED;
  background: linear-gradient(47deg, #ffffffd8 35%, #95CAED 65%);
  border-radius: 10px; }

#background-revue-c {
  background: #FE9952;
  background: linear-gradient(47deg, #FE9952 50%, #ffffffd8 75%);
  border-radius: 10px; }

#background-revue-m {
  background: #CBC6CC;
  background: linear-gradient(47deg, #CBC6CC 50%, #ffffffd8 75%);
  border-radius: 10px; }

#background-revue-t {
  background: #61BF99;
  background: linear-gradient(47deg, #61BF99 50%, #ffffffd8 75%);
  border-radius: 10px; }

#background-revue-f {
  background: #8C67AA;
  background: linear-gradient(47deg, #ffffffd8 35%, #8C67AA 65%);
  border-radius: 10px; }

#background-revue-a {
  background: #E08696;
  background: linear-gradient(47deg, #ffffffd8 35%, #E08696 65%);
  border-radius: 10px; }

/*--$Mixin de animación$--*/
/*-----@Media queries para full responsive@-----*/
@media screen and (max-width: 768px) {
  /*Sección de la pagina de inicio*/
  #contenedorindex {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "header" "main" "iframe" "footer"; }
  #logorevue {
    grid-area: header;
    width: 130px;
    margin: 25px auto; }
  #revueimg {
    grid-area: main; }
    #revueimg #videotrailer {
      grid-area: iframe;
      border: none 5px;
      border-style: inset;
      width: auto;
      margin: 5px auto;
      font-size: 0.8em; }
  .navbar-nav {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  #opciones li a {
    font-size: 1.0em; }
  /*Sección de la pagina de historia*/
  #contenedorhistoria {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header" "main" "main" "footer"; }
  .mainhistoria {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .imagenhistoria {
    width: 250px;
    border: #d3d0d0 0.5px dashed; }
  .historiarevue {
    grid-area: main;
    width: 60%;
    background-color: white;
    letter-spacing: 1px;
    font-size: 0.8rem; }
  /*Sección de pagina personajes*/
  #contenedorpersonajes {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: auto;
    grid-template-rows: auto 115px auto auto;
    grid-template-areas: "header" "div" "main" "footer";
    align-content: center; }
  .headermenu {
    grid-area: header; }
  .cont-personajes {
    grid-area: div; }
    .cont-personajes .navbar-nav-cv {
      display: flex;
      flex-wrap: wrap; }
      .cont-personajes .navbar-nav-cv li {
        padding: 10px;
        margin: 5px auto; }
        .cont-personajes .navbar-nav-cv li a {
          font-size: small; }
  .iniciocv {
    grid-area: main;
    margin: auto;
    justify-content: center;
    align-items: center; }
    .iniciocv .cv-revue {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .iniciocv .cv-revue .imgizq {
        width: 60%; }
      .iniciocv .cv-revue div {
        width: 80%; }
        .iniciocv .cv-revue div .imgder-cv {
          opacity: 0;
          width: 0; }
  /*Sección de pagina anime*/
  #contenedoranime {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "section" "footer"; }
  .infoemision {
    display: flex;
    margin: auto;
    flex-direction: column-reverse;
    align-items: center; }
    .infoemision .textoemision {
      width: 80%;
      margin: auto; }
  #emitidos {
    grid-area: section;
    justify-content: center;
    width: 70%;
    margin: auto;
    font-size: smaller; }
  /*Sección de pagina juego*/
  #contenedorjuego {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "section" "footer"; }
  .juegohistoria {
    grid-area: main;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
    letter-spacing: 0.5px; }
  .secdescarga {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .juego1 {
    margin: auto; }
    .juego1 iframe {
      width: auto; }
  /*Seccion de la pagina contacto*/
  #contenedorcontacto {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "aside" "main" "footer"; }
  .formulariocont {
    display: flex;
    flex-direction: row-reverse; }
    .formulariocont .formcont {
      background-color: white; }
  .textocont {
    grid-area: aside;
    width: 45%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    background-color: white; }
    .textocont p {
      font-size: 1.2em; }
    .textocont .imgkaren {
      width: 120px;
      height: 120px;
      margin: 20px auto; } }

/*--$Mixin de animación$--*/
/*@----Diseño pie de página----@*/
footer {
  background: #959595;
  background: linear-gradient(0deg, #525151 0%, #b8b8b8 52%, #fcf1f1fe 100%);
  padding: 1px;
  width: 90%;
  margin: auto;
  grid-area: footer; }
  footer #secfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
  footer h6 {
    padding: 1px;
    color: #ffffff;
    font-size: small; }

/*Configuración inicial, fonts family y el fondo de la página en general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  background-color: #ffffff;
  font-family: bold 25px "Asap" sans-serif;
  color: #353535;
  padding: 5px; }

h2 h3 h4 h5 h6 {
  font-family: normal 15px "Merriweather Sans" serif;
  color: #353535;
  padding: 10px;
  margin: 5px auto; }

p {
  font-family: normal 10px "Merriweather Sans" sans-serif; }
