/*!-----Aside de la pagina de contacto-----!*/
.textocont{
    grid-area: aside;
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    .imgkaren{
        width:80%;
    }
}