@import "mixin";
/*!----Div de la pagina de personajes----!*/
.cont-personajes{
    grid-area: div;
    margin: auto;
    width: 75%;
    justify-content: center;
    .navbar-nav-cv{
        @include posicion (flex, row, space-around);
        @include animacion(1.0s);
        background-color: #d4e1fdef;
        border: #88a6d3 1px dashed;
        list-style: none;
        align-content: center;
        padding: 10px;
        margin-top: -25px;
        li{
            a{
                text-decoration: none;
                color: #6866ec;
                font-size:smaller;
                font-weight: 600;
                &:hover{
                    background: -webkit-linear-gradient(90deg,#FB5458 40%, #ffffff 5%, #FB5458 50%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            }
        }
    }
}