/*@----Diseño pie de página----@*/
footer{
    background: #959595;
    background: linear-gradient(0deg, #525151 0%, #b8b8b8 52%, #fcf1f1fe 100%);
    padding: 1px;
    width: 90%;
    margin: auto;
    grid-area: footer;
    #secfooter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    h6{
        padding: 1px;
        color: #ffffff;
        font-size:small;
    }
}