/*!----Navegación barra principal----!*/
.headermenu{
    grid-area: header;
    width: auto;
    #logorevue{
        width:200px;
        margin: 25px auto;
        animation-duration: 1.0s;
        animation-name: logo;
        animation-iteration-count:initial;
        @keyframes logo{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }
    nav{
        #opciones{
            li{
                a{
                    text-decoration: none;
                    color: #e5072f;
                    font-size:x-large;
                    font-weight: bolder;
                    animation-duration: 1.0s;
                    animation-name: titulos;
                    animation-iteration-count:initial;
                        &:hover{
                            text-decoration:underline;
                            color: #525151; 
                        }
                }
            }
            .navbar-nav{
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content:space-around;
                font-family: 'Merriweather', serif;
                width: 90%;
                background: #f38a8a;
                background: linear-gradient(0deg, #d4e1fd 0%, #ffffff 50%, #fcc1c1 100%);
                text-align: center;
                border-top: #e507307c 1.5px solid;
                border-bottom: #e507308f 1.8px inset;
                animation-duration: 1.0s;
                animation-name: titulos;
                animation-iteration-count:initial;
                li{
                    padding: 5px;
                }
                @keyframes titulos{
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }

            }
        }
    }
}