@import "mixin";
/*!----Navegación barra principal----!*/
.headermenu{
    grid-area: header;
    width: auto;
    #logorevue{
        width:200px;
        margin: 25px auto;
        @include animacion(1.0s);
    }
    nav{
        #opciones{
            li{
                a{
                    text-decoration: none;
                    color: #e5072f;
                    font-size:larger;
                    font-weight: bolder;
                    @include animacion(1.0s);
                        &:hover{
                            text-decoration:underline;
                            color: #525151; 
                        }
                }
            }
            .navbar-nav{
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content:space-around;
                font-family: 'Merriweather', serif;
                width: 90%;
                background: #f38a8a;
                background: linear-gradient(0deg, #d4e1fd 0%, #ffffff 50%, #fcc1c1 100%);
                text-align: center;
                border-top: #e507307c 1.5px solid;
                border-bottom: #e507308f 1.8px inset;
                @include animacion(1.0s);
                li{
                    padding: 5px;
                }

            }
        }
    }
}