 @import "mixin";
/*!------Main página de index------!*/
.mainindex{
    grid-area: main;
    .infocentral{
        margin: 5px;
        @include posicion(flex, column, center);
        #revueimg{
            border: none 5px;
            border-style:inset;
            width:85%;
            height:85%;
            margin: 20px auto;
            @include animacion(1.3s);
        }
        article{
            padding: 5px;
            width:90%;
            margin:auto;
            background-color: white;
        }
    }
    #videotrailer{
        grid-area: iframe;
        text-align: center;
        width:450px;
        height:250px;
        margin: 20px;
    }
}
/*!-----Main página de historia-----!*/
.mainhistoria{
    grid-area: main;
    @include posicion(flex, row, space-evenly);
    align-items:center;
    .imagenhistoria{
        width: 300px;
        border: #d3d0d0 0.5px dashed;
        @include animacion(1.0s);
    }
    .historiarevue{
        display: flex;
        flex-direction: column;
        width:40%;
        background-color: white;
    }
    
}
/*!-----Main pagina de personajes-----!*/
.iniciocv{
    grid-area: main;
    @include posicion(flex, column, center);
    margin: auto;
    width: 75%;
    padding: 5px;
    @include animacion(0.5s);
    .cv-revue{
        @include posicion(flex, row, center);
        align-content: center;
        padding: 15px;
        align-items: center;
        justify-content: space-evenly;
        div{
            width: 35%;
            .imgder-cv{
                width: 45%;
                margin: 10px;
                border: solid 1px #0000009c; 
            }
            h1{
                background-color: #ffffff00;
                font-size:xx-large;
            }
            p{
                font-size: 0.9rem;
            }
        }
    }   
}
/*!-----Main página de anime-----!*/
.infoemision{
    grid-area: main;
    @include posicion(flex, row, space-evenly);
    align-items: center;
    .textoemision{
        width: 30%;
        background-color: white;
        margin: 2px;
        padding: 2px;
        letter-spacing: 0.5px;
    }    
    .imgemision{
        margin: 2px;
        padding: 2px;
    }
}
/*!-----Main pagina de juego-----!*/
.juegohistoria{
    grid-area: main;
    width: 70%;
    padding: 15px;
    margin: 10px auto;
    justify-content: center;
    background-color: white;
    letter-spacing: 0.3px;
}
/*!----Main pagina de contacto-----!*/
.formulariocont{
    grid-area: main;
    @include posicion(flex, row, center);
    .form-contenido{
        border-style: groove;
        padding: 25px;
        background-color: white;
        .formcont{
            background-color: #c5c5c298;
            padding: 5px;
            border-style: groove;
        }
        .form-group{
            font-size: 0.9em;
            margin: 20px;
            display: flex;
            flex-direction: column;
            font-family: 'Merriweather', serif;
        }
    }
}