@import "mixin";
/*-----@Media queries para full responsive@-----*/
@media screen and (max-width: 768px) {
    /*Sección de la pagina de inicio*/
    #contenedorindex{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
        "header"
        "main"
        "iframe"
        "footer";
    }
    #logorevue{
        grid-area: header;
        width:130px;
        margin: 25px auto;
    }
    #revueimg{
        grid-area: main;
        #videotrailer{
            grid-area: iframe;
            border: none 5px;
            border-style:inset;
            width: auto;
            margin: 5px auto;
            font-size: 0.8em;
        }
    } 
    .navbar-nav{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    #opciones{
        li{
            a{
                font-size: 1.0em;
            }
        }            
    }

    /*Sección de la pagina de historia*/
    #contenedorhistoria{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas:
        "header"
        "main"
        "main"
        "footer";
    }
    .mainhistoria{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .imagenhistoria{
        width: 250px;
        border: #d3d0d0 0.5px dashed;
    }
    .historiarevue{
        grid-area: main;
        width:60%;
        background-color: white;
        letter-spacing: 1px;
        font-size: 0.8rem;
    }
    
    /*Sección de pagina personajes*/
    #contenedorpersonajes{
        display: grid;
        grid-gap:35px;
        grid-template-columns: auto;
        grid-template-rows: auto 115px auto auto;
        grid-template-areas:
        "header"
        "div"
        "main"
        "footer";
        align-content: center;
    }
    .headermenu{
        grid-area: header;
    }
    .cont-personajes{
        grid-area: div;
        .navbar-nav-cv{
            display: flex;
            flex-wrap: wrap;
            li{
                padding: 10px;
                margin: 5px auto;
                a{
                    font-size:small;
                }
            }
    
        }
    }
    .iniciocv{
        grid-area: main;
        margin: auto;
        justify-content: center;
        align-items: center;
        .cv-revue{
            @include posicion (flex, column, center);
            .imgizq{
                width: 60%;
            }
            div{
                .imgder-cv{
                    opacity: 0;
                    width: 0;
                }
                width: 80%;
            }
            
        }
        
    }

    /*Sección de pagina anime*/
    #contenedoranime{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "section"
        "footer";
    }
    .infoemision{
        display: flex;
        margin: auto;
        flex-direction: column-reverse;
        align-items: center;
        .textoemision{
            width: 80%;
            margin: auto;
        }
    }
    
    .emitidos{
        grid-area: section;
        justify-content: center;
        width: 60%;
        margin: auto;
    }
    /*Sección de pagina juego*/
    #contenedorjuego{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "section"
        "footer";
    }
    .juegohistoria{
        grid-area: main;
        display: flex;
        justify-content:center;
        margin: auto;
        background-color: white;
        letter-spacing: 0.5px;
    }
    .secdescarga{
        grid-area: section;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }   
    .juego1{
        margin:auto;
        iframe{
            width: auto;
        }
    }

    /*Seccion de la pagina contacto*/
    #contenedorcontacto{
        display: grid;
        grid-gap:5px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    }
    .formulariocont{ 
        display: flex;
        flex-direction: row-reverse;
        .formcont{
            background-color: white;
        }
    }
    
    .textocont{
        grid-area: aside;
        width: 45%;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
        background-color: white;
        p{
            font-size: 1.2em;
        }
        .imgkaren{
            width:120px; 
            height:120px;
            margin:20px auto;
        }
    }
    
}