@import "mixin";
/*!-Seccion capítulos emitidos pagina anime-!*/
#emitidos{
    grid-area: section;
    @include posicion(flex, column, center);
    align-content: center;
    width: 60%;
    margin: 5px auto;
    padding: 10px;  
    h2{
        font-size:x-large;
        margin: 5px auto;
    } 
    #tablacap{
        width: auto;
        margin-bottom: 50px;
    }
}
/*!-Seccion de descarga pagina juegos-!*/
.secdescarga{
    grid-area: section;
    @include posicion(flex, row-reverse, space-evenly);
    margin: 2px;
    padding: 2px;
    .juego1{
        padding: 2px;
        h1{
            font-size: xx-large;
        }
        iframe{
            padding: 3px;
        }
    }
    .juego2{
        padding: 2px;
        justify-content: center;
        align-content: center;
        h1{
            font-size: xx-large;
        }
        a{
            padding: 3px;
            margin: 3px;
            @include posicion (flex, column, space-between);
            align-content: center;
            align-items: center;
        }
    }
}
