@import "body";
@import "headermenu";
@import "mainpaginas";
@import "div";
@import "seccionpaginas";
@import "gridpaginas";
@import "aside";
@import "backgrounds";
@import "mediaqueries";
@import "variables";
@import "mixin";
@import "footer";

/*Configuración inicial, fonts family y el fondo de la página en general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color:$background;
    font-family: $title-font-h1;
    color: $color-titles;
    padding: 10px;
}

h2{
    h3{
        h4{
            h5{
                h6{
                    font-family: $title-others;
                    color: $color-titles;
                    padding: 10px;
                    margin: 5px auto;
                }
            }    
        }
    }
}
p{
    font-family: $font-paragraph;
}
